/* Setting */
.ui.container.setting {
  max-width: 500px !important;
  height: 100vh;
  padding-top: 10vh;
  margin: 0 auto !important;
}
.ui.container.setting h1 {
  text-align: center;
  margin-bottom: 50px;
}
.setting form {
  font-size: 1.5em !important;
}
.setting label {
  width: 40%;
  display: inline-block !important;
}
.setting select {
  width: 60% !important;
  display: inline-block !important;
}
.setting a {
  width: 75px;
  display: block !important;
  margin: 80px auto 0 auto !important;
}

/* ShowQuiz */
.ui.cards {
  margin: 0;
}
.card {
  width: 80% !important;
  height: 90vh;
  display: table !important;
  text-align: center;
  position: relative;
  margin: 0 auto !important;
  margin-top: 5vh !important;
}
.card .content {
  display: table-cell;
  vertical-align: middle;
}
.ui.cards:focus {
  outline: none !important;
}
.card .content .answer {
  height: 50%;
  margin-top: 30px;
}
.ui.huge.header {
  margin-top: 0;
}
.card .content .description {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.card .count {
  position: absolute;
  font-size: 1.5em;
  right: 1em;
  top: 1em;
}

/* Result */
.result {
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
}
.result .container {
  padding-top: 20vh;
}
.result p.description {
  font-size: 1.5em;
}
.result ul p {
  margin: 0;
}
.result ul li {
  margin-bottom: 10px;
}
.result ul .en {
  font-weight: bold;
  font-size: 1.7em;
}
.result ul .ja {
  font-size: 1.3em;
}
.result .button {
  display: block;
  width: 150px;
  margin: 80px auto 0 auto;
}
