body {
  min-width: 100%;
}

/* StudiedTime */
.studied-time {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* QuizList */
.ui.container.show-quiz-list {
  padding-top: 15vh;
  padding-bottom: 10vh;
  margin: 0 auto !important;
  width: 100% !important;
}
.ui.container.show-quiz-list h1 {
  text-align: center;
  margin-bottom: 50px;
}
.show-quiz-list button {
  display: block !important;
  margin: 0 auto !important;
  margin-bottom: 20px !important;
}
/* for mobile */
.show-quiz-list .field {
  max-width: 300px;
  margin: 0 auto !important;
  margin-bottom: 50px !important;
}
.show-quiz-list ul {
  margin-top: 0;
  margin-bottom: 25px;
}
/* for pc */
h2.header {
  padding-top: 5px;
}
.show-quiz-list .ui.card,
.show-quiz-list .card .content {
  display: block !important;
  height: 100%;
  text-align: left;
}
.show-quiz-list .ui.card {
  width: 400px !important;
  margin: 0 15px 30px !important;
}
.pc.ui {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width: 575px) {
  .ui.container.show-quiz-list {
    padding: 10vh 10px;
    height: 100%;
  }
}

/* Setting */
.ui.container.setting {
  max-width: 500px !important;
  padding-top: 15vh;
  padding-bottom: 10vh;
  margin: 0 auto !important;
}
.ui.container.setting h1 {
  text-align: center;
  margin-bottom: 40px;
}
.ui.container.setting .info {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 30px;
}
.ui.container.setting .info .angle.right {
  color: #666;
}
.setting form {
  font-size: 1.5em !important;
}
.setting label {
  width: 40%;
  display: inline-block !important;
}
.setting select {
  width: 60% !important;
  display: inline-block !important;
}
.setting button {
  width: 75px;
  display: block !important;
  margin: 80px auto 0 auto !important;
}
@media only screen and (max-width: 575px) {
  .ui.container.setting {
    /* max-width: 300px !important; */
    /* box-sizing: border-box; */
    padding: 10vh 10px;
    height: 100%;
  }
  .ui.container.setting h1 {
    margin-bottom: 30px;
  }
  .setting label,
  .setting select {
    width: 100% !important;
  }
  .setting label {
    padding-bottom: 5px;
  }
  .ui.form {
    max-width: 300px;
    margin: 0 auto;
  }
  .ui.form select {
    padding: 5px 10px !important;
  }
  .setting button {
    margin-top: 60px !important;
  }
}

/* ShowQuiz */
.ui.cards {
  margin: 0;
}
.card {
  width: 80% !important;
  height: 90vh;
  display: table !important;
  text-align: center;
  position: relative;
  margin: 0 auto !important;
  margin-top: 5vh !important;
}
.card .content {
  display: table-cell;
  vertical-align: middle;
}
.ui.cards:focus {
  outline: none !important;
}
.card .content .answer {
  height: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.ui.huge.header {
  margin-top: 0;
}
.card .content .description {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.card .count {
  position: absolute;
  font-size: 1.5em;
  right: 1em;
  top: 1em;
}
.show-answer button {
  margin-bottom: 20px !important;
}
.mark-answer button.ui {
  margin: 0 58px !important;
  width: 100px;
  height: 100px;
  padding: 0;
  position: relative;
}

.mark-answer i {
  margin: 0 !important;
  font-size: 1.3em;
}
.mark-answer .button.ui i {
  color: #fff;
  font-size: 30px;
  padding-top: 5px;
}
.mark-answer .description {
  margin-top: 20px !important;
}
.ui.progress .bar {
  min-width: 0;
  width: 100%;
  transition: none !important;
  border-radius: 0 !important;
}
.ui.progress:last-child {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}
.ui.button {
  transition: none !important;
}
@media only screen and (min-width: 576px) {
  .mark-answer button.ui:before {
    content: '\f04b'; /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    font-size: 100px;
  }
  .mark-answer button.ui.right:before {
    color: #21ba45;
    top: 44%;
    left: 15%;
  }
  .mark-answer button.ui.left:before {
    color: #db2828;
    top: 43%;
    left: 0;
    transform: rotate(180deg);
  }
  .ui.button,
  .ui.right.button,
  .ui.right.buttons .button,
  .ui.left.button,
  .ui.left.buttons .button,
  .ui.right.button:hover,
  .ui.left.button:hover {
    background-color: #fff;
  }
}
@media only screen and (max-width: 575px) {
  .mark-answer button.ui {
    margin: 0 18px !important;
    width: 70px;
    height: 70px;
    padding: 0;
  }
  .show-answer p.description {
    display: none;
  }
  .card {
    height: 100vh;
    margin: 0 !important;
    width: 100% !important;
  }
  .ui.huge.header {
    font-size: 1.5em !important;
  }
  .mark-answer button.ui.right {
    background-color: #21ba45;
  }
  .mark-answer button.ui.left {
    background-color: #db2828;
  }
}

/* Result */
.result {
  max-width: 500px;
  margin: 0 auto;
}
.result h1 {
  text-align: center;
  margin-bottom: 50px !important;
}
.result .container {
  padding-top: 20vh;
  padding-bottom: 10vh;
}
.result p.description {
  font-size: 1.5em;
  text-align: center;
}
.result ul p {
  margin: 0;
}
.result ul li {
  margin-bottom: 10px;
}
.result ul .en {
  font-weight: bold;
  font-size: 1.7em;
}
.result ul .ja {
  font-size: 1.3em;
}
.result .button {
  display: block;
  width: 150px;
  margin: 80px auto 0 auto;
}

@media only screen and (max-width: 575px) {
  .result .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .result ul .en {
    font-weight: bold;
    font-size: 1.4em;
  }
  .result ul .ja {
    font-size: 1em;
  }
  .result p.description {
    font-size: 1em;
  }
}

/* 404 */
.no-match {
  text-align: center;
  margin-top: 35vh;
  font-size: large;
}
.no-match h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
.no-match p {
  margin-bottom: 40px;
}
